@model BookSeries.Domain.Entities.Book

@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit Book</h1>

<form asp-action="EditBook" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BookSeriesId"></label>
        <select asp-for="BookSeriesId" class="form-control">
            <option value="">Select Series</option>
            @if (ViewData["BookSeries"] != null)
            {
                @foreach (var series in ViewData["BookSeries"] as List<BookSeries.Domain.Entities.BookCollection>)
                {
                    <option value="@series.Id">@series.Title</option>
                }
            }
            else
            {
                <option value="">No Series Available</option>
            }
        </select>
        <span asp-validation-for="BookSeriesId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Order"></label>
        <input asp-for="Order" class="form-control" />
        <span asp-validation-for="Order" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Image" class="form-label h6">Current Image</label>
        @if (!string.IsNullOrEmpty(Model.ImageUrl) && Model.ImageUrl != "https://placehold.co/600x400")
        {
            <img src="@Model.ImageUrl" alt="Book Image" class="img-fluid" style="max-width: 200px; max-height: 200px;" />
        }
        else
        {
            <p>No image available</p>
        }
    </div>

    <div class="form-group">
        <label for="Image" class="form-label h6">Upload New Image (Optional)</label>
        <input asp-for="Image" class="form-control" type="file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="@Url.Action("BookIndex", "Book")" class="btn btn-secondary">Cancel</a>
</form>
